.page-item.active .page-link
{
    color: #fff!important;
    background-color: $purpleTheme!important;
    border-color: $purpleTheme!important;
}

.page-link 
{
    color: $purpleTheme!important;
}

.main-sidebar
{
    z-index: 1050!important;
}