.page-item.active .page-link
{
    color: #fff!important;
    background-color: $purpleTheme!important;
    border-color: $purpleTheme!important;
}

.page-link 
{
    color: $purpleTheme!important;
}

.main-sidebar
{
    z-index: 1050!important;
}

.shaking 
{
  animation: shake 2s; 
  animation-iteration-count: infinite;
}

@keyframes shake 
{
  0% { transform:  translate(0px, 0px)    }
  10% { transform: translate(0px, -12px)  }
  20% { transform: translate(0px, 4px)    }
  30% { transform: translate(0px, -1px)   }
  40% { transform: translate(0px, 1px)    }
  50% { transform: translate(0px, 0px)    }
  60% { transform: translate(0px, 0px)    }
  70% { transform: translate(0px, 0px)    }
  80% { transform: translate(0px, 0px)    }
  90% { transform: translate(0px, 0px)    }
  100% { transform:translate(0px, 0px)    }
}


a.link
{
  color:$blue!important;
  text-decoration: underline!important;
  cursor:pointer;
}